@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    /* border:1px solid red; */
  
}
body{
    border: 3px dashed green;
    box-sizing: border-box;
}

header{
    background: linear-gradient(to bottom, black,#303030,black);
}

/* shared styles */

.display-flex{
    display: flex;
}
.shared-paragraph-color{
    color: rgba(255, 255, 255, 0.5);
}
.shared-headings{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
}

.common-btn{
    background-color: #E6533C;
    color:#FFFFFF ;
    border: none;
    border-radius: 2.6rem;
    padding: 1rem 2.8rem ;
    font-size: 1.12rem;
    font-weight: 600;
    width: 224px;

}
.button-container-2{
    display: none;
}
.common-btn-1{
    display: none;
}

/* navbar */
.nav-container{
   justify-content: space-between;
   padding: 3.56rem 11.875rem ;
   
}
.nav-heading{
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
    color: rgba(230, 83, 60, 1);
}

.links-container{
   border: 2px solid rgba(255, 255, 255, 0.1);
   border-radius: 18px;
   padding: 10px 2px;
   height: 100%;
   
}
.links{
    text-decoration: none;
    margin-right: 20px;
    color: #FFFFFF;
   
}
.lists{
    list-style: none;
}
.home{
    background-color: #E6533C;  
    border-radius: 2.875rem;
    padding: 7px 20px;
}
.bar{
    display: none;
}
/* navabr ends */

/* banner starts */

.banner-container{
    justify-content: space-evenly;
    /* margin: 0 auto; */
}
.contents-container{
    max-width: 37.44rem;
    width: 100%;
    /* margin-left:11.875rem ; */
}
.banner-heading{
    font-size:4.875rem;
    font-weight: 900;
    line-height: 90px;
    margin-bottom:1.75rem ;
    color: #FFFFFF;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 140px;
}
.button-container{
    width: 100%;
    gap: 10px;
}
.normal-btn{
    background-color: #303030;
    color:#FFFFFF ;
    border: 1px solid #FFFFFF ;
    border-radius: 2.6rem;
    padding: 1rem 2.8rem ;
    font-size: 18px;
    font-weight: 600;
}
.img-container{
    /* margin-right: 140px; */
    position: relative;
}
.image-2-0{
    display:none;
}
.above-box{
    position: absolute;
    top: 125px;
    left: 200px;
    max-width: 173px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    border-radius:12px ;
    padding-left:2.5rem ; 
    background-color:rgba(255, 255, 255, 0.1) ;
}
.below-box{
    position: absolute;
    right: 266px;
    bottom: 63px;
    max-width: 190px;
    width: 100%;
    height: 98px;
    border-radius:12px ;
    padding-left:15px ;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.round-box{
    border: 1px solid orangered;
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 100px;
    background-color: #E6533C;

}
.box-heading-1{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 2.5rem ;
    font-weight:900;
    color:#FFFFFF;
}
.box-heading-2{
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 900;
    color:#FFFFFF ;
}
.box-paragraph{
   margin-top: 0;
}
/* end of banner */

/* main body */
/* change your habits section */
.change-your-habit{
    background-color: black;
    padding-top: 10px;

}
.change-your-habits-heading{
    text-align: center;
    font-size: 48px;
    margin-bottom: 14px;
}
.change-your-habits-para{
    text-align: center;
}
.change-img-container{
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    box-sizing: border-box;

}
.img-class{
    width: 231px;
    text-align: center;
}
.img{
    border-radius: 100px;
    
}

.img-heading{
    font-size: 18px;
    margin-bottom: 6px;
    color: #FFFFFF;
}

/* Run extra */
.run-extra-section{
    padding: 100px 190px 96px 190px;
    background-color: black;
}
.run-extra-container{
    max-width: 1060px;
    width: 100%;
    min-height: 371px;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1);
}
.run-extra-content-container{
    max-width: 443px;
    width: 100%;
}
.run-extra-heading{
    margin-bottom: 4px;
}
.run-extra-paragraph {
    margin-bottom: 34px;
}
.run-extra-img-conatiner{
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 18px;
  
}
.run-extra-img{
 max-width: 336px;
 width: 100%;
 max-height: 312px;
 height: 100%;
 border-radius: 18px;
}
.run-extra-img-2{
    display: none;
}
/*end of Run extra */

/* start of creative section */
.creative-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
.creative-section-div {
    background-color: rgba(34, 34, 34, 1);
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 18px;
}
.creative-section-contents{
    max-width: 443px;
    width: 100%;
   
    
}
.creative-section-heading{
    margin-top: 90px;
    margin-bottom: 10px;
}
.creative-section-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    min-height: 371px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.creative-section-images img{
    max-width: 250px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    border-radius: 8px;
}
/*end of creative section */

/* start of bmi */
.bmi-calculation-section{
    background-color: black;
    padding-top: 10px;
}
.bmi-section-content{
    max-width: 677px;
    width: 100%;
    margin: 0 auto;
}

table,th,td{
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}
table{
    max-width: 310px;
    width: 100%;
    min-height: 216px;
    
}
.table-heading{
    text-align: left;
    color: #FFFFFF;
    font-size: 16px;
}
.bmi-calculation-container{
    background-color: rgba(34, 34, 34, 1);
    justify-content: space-evenly;
    width: 100%;
    min-height: 487px;
    height: 100%;
    padding-top: 28px;
}
.bmi-div-headings-1{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 900;
}
.bmi-div-headings-2{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
}
.table-container{
   
}
.form-part-container{
    max-width: 577px;
    width: 100%; 
}

.form-container{
    max-width: 577px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.input-fields{
    border-radius: 8px;
    min-height: 48px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    padding-left: 20px;
    border: none;

}
input{
    box-sizing: border-box;
    width: 100%;
}
.select-activity{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 12px;
    max-height: 48px;
    height: 100%;
    margin-bottom: 34px;
}
.bmi-btn{
    display: none;
}
/* end of bmi */

/* meet our team */
.meet-our-team-section{
    background-color: black;
    padding-bottom: 88px;
    padding-top: 88px;
}
.team-section-heading{
    text-align: center;
}
.team-section-para{
    text-align: center;
    margin-bottom: 84px;
}
.pic-1{
    background-image: url('../images/trainer1.png');
    background-size: cover;
    min-height: 272px;
    height: 100%;
    border-radius:18px;
    position: relative;

}
.pic-2{
    background-image: url('../images/trainer2.png');   
    background-size: cover;
    min-height: 272px;
    height: 100%;
    border-radius:18px ;
    position: relative;
}
.pic-3{
    background-image: url('../images/trainer3.png');  
    background-size: cover; 
    min-height: 272px;
    height: 100%;
    border-radius:18px ;
    position: relative;
}
.pic-4{
    background-image: url('../images/trainer4.png'); 
    background-size: cover; 
    background-position: center; 
    min-height: 272px;
    height: 100%;
    border-radius:18px ;
    position: relative;
}
.pic-5{
    background-image: url('../images/trainer5.png'); 
    background-size: cover; 
    min-height: 272px;
    height: 100%; 
    border-radius:18px ;
    position: relative;
}
.pic-6{
    background-image: url('../images/trainer6.png'); 
    background-size: cover;  
    min-height: 272px;
    height: 100%;
    border-radius:18px ;
    position: relative;
}

.team-pictures-2{ 
    display: none;

}

.team-pictures{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    border-radius:18px ;
    background-color: rgba(34, 34, 34, 1);
    
}
.team-heading{
   position: absolute;
   bottom:35px;
   left: 18px;
   color: #FFFFFF;
   font-size: 20px;
    font-weight: 900;
}
.team-para{
    position: absolute;
    bottom: 16px;
    left: 18px;
    color: rgba(255, 255, 255, 0.5);
    
}
/* end of meet out team */

/* start of footer */
.footer-container{
    background-color: rgba(34, 34, 34, 1);
    padding-top: 66px;
    padding-bottom: 35px;
}
.footer-container-div{
    justify-content: space-between;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}
.footer-content-1{
    max-width: 443px;
    width: 100%;
}
.footer-heading{
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-size: 70px;
    font-weight: 900;
}
.content-2-heading{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}
.footer-list{
   list-style: none;
   padding-left: 0;
  

}

.footer-links{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    
}
.line{
    width: 70%;
    margin-top: 97px;
    margin-bottom: 50px;
}
.last-paragraph{
    text-align: center;
    font-size: 20px;
}

/* end of footer */


@media screen and (max-width:576px) {
    *{
        box-sizing: border-box;
    }
    main{
        background-color: black;
    }
    .banner-container{
        flex-direction: column;
        width: 100%;
    }
    .nav-heading{
        margin-left: 20px;
    }
    .nav-container{
        padding: 0;
    }
    .links-container{
        display: none;
    }
    .bar{
        display: inline;
        position: absolute;
        right: 10px;
        top: 45px;
        color: #FFFFFF;
        width: 24px;
        height: 24px;
      }

      /* banner */
      .banner-heading{
        font-size: 38px;
        line-height: 50px;
      }
      .banner-paragraph{
        font-size: 16px;
      }
      .contents-container{
        max-width:283px;
        width: 100%;
        margin-left: 20px;
        container-type: inline-size;
      }
      .button-container{
        display: none;
      }
      .button-container-2{
        display: flex;
        gap: 10px;
        margin-left: 20px;
       
      }

      .shape{
        font-family: 'Miama', sans-serif;
        font-weight: 400;
        font-size: 80px;
    }
    .common-btn{
        display: none;
    }
    .common-btn-1{
        display: inline;
        max-width: 160px;
        width: 100%;
        height: 50px;
        background-color: #E6533C;
        color:#FFFFFF ;
        border: none;
        border-radius: 2.6rem;
        padding: .3rem .3rem ;
        font-size: 1.12rem;
        font-weight: 600;
        
    
    }
    .normal-btn{
        max-width: 160px;
        width: 100%;
        height: 50px;
        background-color: #303030;
        color:#FFFFFF ;
        border: 1px solid #FFFFFF ;
        border-radius: 2.6rem;
        padding: .3rem .32rem ;
        font-size: 18px;
        font-weight: 600;
    }
    .img-container{
        margin: 0 auto;
        position: relative;
    }
    .image-2{
        display: none;
    }
    .image-2-0{
        display: inline;
        width: 100%;
    }
    .above-box{
        position: absolute;
        top: 55px;
        left: 190px;
        max-width: 145px;
        width: 100%;
        max-height: 74px;
        height: 100%;
        border-radius:12px ;
        padding-left:1.5rem ; 
        /* padding-right: 20px; */
        background-color:rgba(255, 255, 255, 0.1) ;
    }
    .below-box{
        position: absolute;
        left: 26px;
        right:100px;
        bottom: 143px;
        max-width: 165px;
        width: 100%;
        height: 78px;
        border-radius:12px ;
        padding-left:5px; 
        background-color: rgba(255, 255, 255, 0.1);
        justify-content: center;
        align-items: center;
    }

    .round-box{
        border: 1px solid orangered;
        max-width: 30px;
        width: 100%;
        max-height: 30px;
        height: 100%;
        border-radius: 100px;
        background-color: #E6533C;
        margin-top: 10px;
    }
    
    .box-heading-1{
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 20px;
        font-size: 30px ;
        font-weight:900;
        color:#FFFFFF;
    }
    .box-heading-2{
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 900;
        color:#FFFFFF ;
    }
    .box-paragraph{
        font-size: 9px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    
/* main body */
/* change your habits section */
.change-your-habit{
  padding-top: 1px;

}
.change-your-habits-heading{
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
}
.change-your-habits-para{
    text-align: center;
}
.change-img-container{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}
.img-class{
    max-width: 231px;
    width: 100%;
    text-align: center;
}
.img{
    border-radius: 100px;
    
}

.img-heading{
    font-size: 18px;
    margin-bottom: 6px;
    color: #FFFFFF;
}

/* end of change your habit */

/* start of Run extra */
.run-extra-section{
    padding: 0px 20px 66px 20px;
}
.run-extra-container{
   max-width: 353px;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
   padding-bottom: 35px;
   flex-direction: column;  
}

.run-extra-content-container{
    max-width: 297px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 33px;
}
.run-extra-heading {
    font-size: 32px;
}
.extra{
    display: inline;
    width: 100%;
    margin-bottom: 30px;
}
.run-extra-img-conatiner{
    max-width: 297px;
    width: 100%;
    margin: 0 auto; 
    padding-left: 33px;
    padding-right: 33px;
}
.run-extra-img{
    display: none;
}
.run-extra-img-2{
    display: inline;
    max-width: 287px;
    width: 100%;
    margin: 0 auto;
    border-radius: 18px;
}
/* end of run extra section */

/* start of creative section */
.creative-section-div{
    flex-direction: column-reverse;
    max-width: 453px;
    width: 100%;
    border-radius: 0;
}
.creative-section-contents{
    text-align: center;
}
.creative-section-heading{
    margin-top: 30px;
    font-size: 32px;
}
.creative-section-images{
    min-height: 200px ;
    height:100%;
    margin: 10px 10px;
}
.creative-section-images img{
    max-width: 200px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    border-radius: 8px;
}

/* end of creative section */

/* start of bmi */
.bmi-btn{
    display: inline;
        max-width: 160px;
        width: 100%;
        height: 50px;
        background-color: #E6533C;
        color:#FFFFFF ;
        border: none;
        border-radius: 2.6rem;
        padding: .3rem .3rem ;
        font-size: 1.12rem;
        font-weight: 600; 
        margin-bottom: 43px;
}
.bmi-section-content{
    max-width: 353px;
    width: 100%;
}
.bmi-heading{
    font-size: 32px;
}
.bmi-div-headings-1{
    font-size: 16px;
}
.bmi-div-headings-2{
    font-size: 16px;
}
.bmi-calculation-container {
    flex-direction: column;
    height:100%;
    padding-left: 20px;
    padding-right: 20px;
  
}
.table-container{
    max-width: 353px;
    width: 100%;
    margin: 0 auto;
}
.form-part-container{
    max-width: 353px;
    margin: 0 auto;
}
input{
    box-sizing: border-box;
    width: 100%;
  
}
/* end of bmi */

/* meet our team */
.meet-our-team-section{
    padding-bottom: 66px;
    padding-top: 66px;
}
.team-section-heading{
    font-size: 32px;
}
.team-section-para{
    margin-left: 20px;
    margin-right: 20px;
}
.team-pictures{
    display: none;
}
.team-pictures-2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    max-width: 353px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    border-radius:18px ;
    background-color: rgba(34, 34, 34, 1);
    box-sizing: border-box;
}
.pic-2{
    box-sizing: border-box;
}
/* end of meet out team */

/* start of footer */
.footer-container{
    padding-top: 0;
}
.footer-container-div{
    flex-direction: column;
    max-width: 353px;
    width: 100%; 
    padding-left: 10px;
}
.line{
    margin-top: 72px;
    width: 85%;
}
.last-paragraph{
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
}

/* end of footer */

}

/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
   /* navbar */
   *{
    box-sizing: border-box;
   }
   .nav-container{
    justify-content: space-between;
    padding: 52px 30px;
    align-items: center;
    
 }
 .banner-container{
    flex-direction: column;
    justify-content: space-between;
}
.contents-container{
    max-width: 37.44rem;
    width: 100%;
   margin: 0 auto;
}
.img-container{
    /* margin-right: 160px;
    margin-left: 160px; */
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
}
.above-box{
    position: absolute;
    top: 55px;
    left: 190px;
    max-width: 193px;
    width: 100%;
    max-height: 98px;
    height: 100%;
    border-radius:12px ;
    padding-left:1.5rem ; 
    /* padding-right: 20px; */
    background-color:rgba(255, 255, 255, 0.1) ;
}
.below-box{
    position: absolute;
    left: 26px;
    right:100px;
    bottom: 163px;
    max-width: 206px;
    width: 100%;
    max-height: 98px;
    height: 100%;
    border-radius:12px ;
    padding-left:35px ;
    background-color: rgba(255, 255, 255, 0.1);
}



/* main body */
/* change your habits section */
.change-your-habits-heading{
    text-align: center;
    font-size: 48px;
    margin-bottom: 14px;
}
.change-your-habits-para{
    text-align: center;
    margin-left: 135px;
    margin-right: 135px;
    margin-bottom: 58px;
}
.change-img-container{
    max-width: 566px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;


}
.img-class{
    width: 231px;
    text-align: center;
}
.img{
    border-radius: 100px;
    
}

.img-heading{
    font-size: 18px;
    margin-bottom: 6px;
    color: #FFFFFF;
}


}